<div *ngIf="(size === 'full') else smallCard">
    <mat-card class="weather-card" [@adjustSize]='state' (click)="animateMe()">
        <mat-card-header class="title">{{ title }}</mat-card-header>
        <mat-grid-list [cols]="4" [rowHeight]="'80px'">
            <mat-grid-tile [colspan]="2" [rowspan]="2">
                <app-weather-icon [weather]="weatherCondition.main"></app-weather-icon>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">

                <p class="gird-content-align-left weather-info__icon">{{ weatherCondition?.main }}</p>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <p class="gird-content-align-left weather-info">
                    <fa name="thermometer-half" class="weather-info__icon"></fa>
                    <span [innerHtml]="weatherCondition?.temperature | number : '1.0-2' | temperature"></span>
                </p>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card>
</div>

<ng-template #smallCard>
    <mat-card class="weather-card--small animated zoomIn">
        <mat-grid-list [cols]="2" [rowHeight]="'25px'">
            <mat-grid-tile [colspan]="2" [rowspan]="2">
                <app-weather-icon [size]="'small'" [weather]="weatherCondition.main"></app-weather-icon>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <p>{{ weatherCondition?.main }}</p>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <p>
                    <span [innerHtml]="weatherCondition?.temperature | number : '1.0-2' | temperature"></span>
                </p>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card>
</ng-template>



